.marker {
  color: "white";
  background: "rgb(44, 89, 235)";
  padding: "15px 10px";
  display: "inline-flex";
  textalign: "center";
  alignitems: "center";
  justifycontent: "center";
  borderradius: "100%";
  transform: "translate(-50%, -50%)";
}
