/* element variables */
:root {
  --element-spacing: 1.5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: var(--element-spacing); */
  background: rgb(44, 89, 235);
  min-width: fit-content;
  min-height: 78px;
}

/* every direct descenday of class left*/
.left > * {
  margin-right: var(--element-spacing);
}

.right > * {
  margin-left: var(--element-spacing);
}
