.input-control {
  min-width: 490px;
  min-height: 38px;
}

input {
  min-width: 280px;
  min-height: 35px;
}

.css-yk16xz-control {
  min-width: 488px;
}

:global(.button).search-button {
  background: #f7a8b8;
  border: none;
}

:global(.icon) {
  color: white;
}
