.input-control {
  min-width: 320px;
  min-height: 38px;
}

/* This changed the width and height of Google's autocomplete input field */
input {
  min-width: 320px;
  min-height: 36px;

}

/* This changed the width on Google's autocomplete input field */
.css-yk16xz-control {
  min-width: 300px;
}

:global(.button).search-button {
  background: #f7a8b8;
  border: none;
}

:global(.icon) {
  color: white;
}