.navbar {
    background-color: #f7a8b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bars {
    margin-right: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background: #f7a8b8;
    width: 250px;
    height:max-content;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: -100%;
    transition: 1000ms;
}

.nav-menu.active {
    right: 0;
    transition: 800ms;
}

.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #f7a8b8;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: aliceblue;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    right: 16px;
}